:root {
    --primary-light-color: #FFFFFF;
    --secondary-light-color: #F5F4FA;
    --third-light-color: #757575;
    --fourth-light-color: #ECECEC;
    --primary-dark-color: #000000;
    --secondary-dark-color: #2F303A;
    --primary-text-color: #212121;
    --primary-active-color: #2196F3;
    --secondary-active-color: #188CE8;
}

body {
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

/* List */
.list {
    list-style-type: none;
}


/* Link */
.link {
    text-decoration: none;
}


/* Title */
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}


/* Container */
.container {
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.container.header {
    width: auto;

    border-bottom: 1px solid var(--fourth-light-color);
}


/* Logo */
.logo {
    color: var(--primary-active-color);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.page-header .excerpt {
    color: var(--primary-dark-color);
}

.page-footer .excerpt {
    color: var(--primary-light-color);
}


/* Button */
.button {
    min-width: 73px;

    color: var(--primary-text-color);
    background-color: var(--secondary-light-color);

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.hero .button {
    padding: 10px 32px;

    color: var(--primary-light-color);
    background-color: var(--primary-active-color);

    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

.hero .button:hover, 
.hero .button:focus {
    background-color: var(--secondary-active-color);
}

.portfolio .button {
    padding: 6px 22px;
}

.portfolio .button:hover,
.portfolio .button:focus {
    color: var(--primary-light-color);
    background-color: var(--primary-active-color);
}


/* Header */
.page-header {
    display: flex;
    
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.page-header .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: inherit;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.page-header > .list {
    display: flex;
    margin-left: auto;
}

.page-header .item:not(:first-child) {
    margin-left: 50px;
}

.page-header .link:hover,
.page-header .link:focus {
    color: var(--primary-active-color);
}

.page-header .header-link {
    color: var(--third-light-color);
}

.page-header .active {
    color: var(--primary-active-color);
}


/* Nav */
.nav {
    display: flex;
    align-items: center;
}

.nav .list {
    display: flex;
    margin-left: 93px;
}

.nav .item:not(:last-child) {
    margin-right: 50px;
}


/* Hero */
.hero {
    background-color: var(--secondary-dark-color);
    text-align: center;
}

.hero .title {
    margin-bottom: 30px;

    color: var(--primary-light-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}


/* Quality */
.quality .subtitle {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.quality .text {
    color: var(--third-light-color);
    line-height: 1.71;
}


/* Team */
.team {
    background-color: var(--secondary-light-color);
}

.team .list {
    font-size: 16px;
    line-height: 1.19;
}

.team .subtitle {
    font-size: 16px;
    font-weight: 500;
}

.team .text {
    color: var(--third-light-color);
}


/* Portfolio */
.portfolio .title {
    text-align: left;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio .text {
    color: var(--third-light-color);
    font-size: 16px;
    line-height: 1.88;
}


/* Footer */
.page-footer {
    background-color:  var(--secondary-dark-color);
}

.page-footer .link {
    color: rgba(255, 255, 255, .6);
    font-style: normal;
    line-height: 1.71
}

.page-footer .link:hover,
.page-footer .link:focus {
    color: var(--primary-active-color);
}

.page-footer .map {
    color: var(--primary-light-color);
}




